<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/error.css">
    </head>
    <body>	

		<header>
		  <div class="header-container">
		    <div class="logo-container">
		  <a th:href="@{/}" class="logo-text">CIRCLE TAROT</a>
		      <div class="hover-content">
		        <span class="hover-text left-text">동그</span>
		        <div class="logo-image"></div>
		        <span class="hover-text right-text">라미</span>
		      </div>
		    </div>


			 <div id="right-section">
			            <a th:href="@{/join}" id="signupButton">회원가입</a>
			            <span id="verticalLine"></span>
			            <a th:href="@{/login}" id="loginButton">로그인</a>
			            <div id="userDropdownContainer" th:if="${session.user != null}">
			                <a href="#" id="userName" class="dropdown-toggle" th:text="${session.user.name}"></a>
			                <div id="userDropdown" class="dropdown-menu">
			                    <a th:href="@{/mypage}">마이페이지</a>
			                    <a href="#" id="logoutButton">로그아웃</a>
			                </div>
			            </div>
			        </div>
			    </div>
			</header>



			<section id="nav-section">
			    <div id="center-section">
			        <nav id="nav">
			            <ul>
			                <li>
			                    <a th:href="@{/}">HOME</a>
			                </li>
			                <li><a th:href="@{/categories}">타로 보러가기</a></li>
			                <li>
			                    <a href="#">투표</a>
			                </li>
			                <li><a th:href="@{/review}">후기</a></li>
			            </ul>
			        </nav>
			    </div>
			</section>

		
		
		
		
        <div class = "error_container">
            <div class= "error_image">
                <img src="./images/basic.png" alt="" id="error_logo">
                <img src="./images/error.png" alt="" id="error_question">
            </div>
            <div class = "error_msg">
                <span id="msg">404 Error 발생</span>
            </div>
        </div>
    </body>
</html>