<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Page</title>
	<link rel="stylesheet" th:href="@{/css/topic_page.css}">
</head>
<body>
    <header>
		<div class="header-container">
		  <div class="logo-container">
		    <a th:href="@{/}" class="logo-text">CIRCLE TAROT</a>
		    <div class="hover-content">
		      <span class="hover-text left-text">동그</span>
		      <div class="logo-image"></div>
		      <span class="hover-text right-text">라미</span>
		    </div>
		  </div>
  
		    <div id="right-section">
		      <a th:href="@{/login}" id="loginButton">로그인 / 회원가입</a>
		      <div id="userDropdownContainer" style="display: none">
		        <a href="#" id="userName" class="dropdown-toggle"></a>
		        <div id="userDropdown" class="dropdown-menu">
		          <a th:href="@{/mypage}">마이페이지</a>
		          <a href="#" id="logoutButton">로그아웃</a>
		        </div>
		      </div>
		    </div>
		  </div>
      </header>

	  <section id="nav-section">
	    <div id="center-section">
	      <nav id="nav">
	        <ul>
	          <li>
	            <a th:href="@{/}">HOME</a>
	          </li>
	          <li><a th:href="@{/topic}">타로 보러가기</a></li>
	          <li>
	            <a th:href="@{/vote}">투표</a>
	          </li>
	          <li><a th:href="@{/review}">후기</a></li>
	        </ul>
	      </nav>
	    </div>
	  </section>
    
    <div class="card-container">
      <div class="tarot-card" id="card1"><img src="./images/부엉이카드.jpg" alt="Tarot Card 1"></div>
      <div class="tarot-card" id="card2"><img src="./images/부엉이카드.jpg" alt="Tarot Card 2"></div>
      <div class="tarot-card" id="card3"><img src="./images/부엉이카드.jpg" alt="Tarot Card 3"></div>
      <div class="tarot-card" id="card4"><img src="./images/부엉이카드.jpg" alt="Tarot Card 4"></div>
      <div class="tarot-card" id="card5"><img src="./images/부엉이카드.jpg" alt="Tarot Card 5"></div>
      <div class="tarot-card" id="card6"><img src="./images/부엉이카드.jpg" alt="Tarot Card 6"></div>
      <div class="tarot-card" id="card7"><img src="./images/부엉이카드.jpg" alt="Tarot Card 7"></div>
      <div class="tarot-card" id="card8"><img src="./images/부엉이카드.jpg" alt="Tarot Card 8"></div>
      <div class="tarot-card" id="card9"><img src="./images/부엉이카드.jpg" alt="Tarot Card 9"></div>
      <div class="tarot-card" id="card10"><img src="./images/부엉이카드.jpg" alt="Tarot Card 10"></div>
      <div class="tarot-card" id="card11"><img src="./images/부엉이카드.jpg" alt="Tarot Card 11"></div>
      <div class="tarot-card" id="card12"><img src="./images/부엉이카드.jpg" alt="Tarot Card 12"></div>
      <div class="tarot-card" id="card13"><img src="./images/부엉이카드.jpg" alt="Tarot Card 13"></div>
      <div class="tarot-card" id="card14"><img src="./images/부엉이카드.jpg" alt="Tarot Card 14"></div>
      <div class="tarot-card" id="card15"><img src="./images/부엉이카드.jpg" alt="Tarot Card 15"></div>
  </div>
  
      <div class="container">
        <div id="content-header">
            <h1>동그라미 타로</h1>
            <h2>모아보기🔎</h2>
        </div>
      </div>

      <div class="content-text">
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-1.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    재회 타로 : 그 사람의 첫 연락
                </div>
                <div class="title-name">연애운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-1.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    내가 사랑하는 사람의 마음은?
                </div>
                <div class="title-name">연애운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-1.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    우리 다시 만날 수 있을까?
                </div>
                <div class="title-name">연애운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-2.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    내 코인 떡상은 언제?
                </div>
                <div class="title-name">금전운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-2.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    나의 주식은 익절일까 손절일까?
                </div>
                <div class="title-name">금전운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-2.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    매도 타이밍을 알려드립니다💵
                </div>
                <div class="title-name">금전운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-3.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    이직을 고민중일때
                </div>
                <div class="title-name">직장운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-3.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    날 괴롭히는 상사놈은 언제 그만둘까?
                </div>
                <div class="title-name">직장운</div>
            </div>
        </a>
        <a href="#">
            <div class="content-img">
                <img src="./images/logo-3.png" alt="">
            </div>
            <div class="content-text">
                <div class="title">
                    직장에서의 내 황금 시기는?
                </div>
                <div class="title-name">직장운</div>
            </div>
        </a>
      </div>

	  <footer>
	    <div class="footer-wrapper">
	      <div class="footer-company">
	        <label class="footer-label">CIRCLE TAROT</label>
	        <div class="description">
	          <div class="footer-companyinfo">
	            <p>(주) 동그라미타로 | 대표: 동그라미 | 고객센터 02-1234-5678 | 주소: 서울시 서초구 사평대로52길 9-2 소망빌딩 3층 | 사업자번호: xxx-xx-xxxxx | 이메일: donggramitarot@naver.com</p>
	          </div>
	          <div class="copyright">
	            <p>Copyright ⓒ 2024 by DongGramiTarot all rights reserved.</p>
	          </div>
	        </div>
	  </footer>


	<script th:src="@{/js/topic_page.js}"></script>
</body>
</html>