  * {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .header-container {
    background-color: #7150bd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 100px; /* Fixed height */
    position: relative; /* Add relative positioning */
  }
  
  .logo-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* You can use fixed position if you want to fix it to a specific point */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo-text {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px; /* 고정된 텍스트 크기 */
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
  }
  
  .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    white-space: nowrap;
  }
  
  .logo-text:hover {
    opacity: 0;
  }
  
  .logo-text:hover + .hover-content {
    opacity: 1;
  }
  
  .hover-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
    background: url("/images/mainlogo.png") no-repeat center
      center;
    background-size: contain;
    animation: spin 2s infinite linear;
    margin: 0;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #right-section {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0; /* Fixed position to the right */
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px; /* Optional padding for spacing */
  }
  
  #right-section a {
    color: white;
    text-decoration: none;
    font-size: 15px; /* Fixed font size */
    margin-left: 20px;
    font-weight: bold;
  }
  
  #right-section a:hover {
    text-decoration: none; /* Remove default underline */
    box-shadow: 0 2px 0 white; /* Create a "fake" underline with a shadow */
  }
  
  #verticalLine {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: white; /* 원하는 색상으로 변경 가능 */
  }
  
  /* Navigation section styling */
  #nav-section {
    background: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  
  #center-section {
    width: 100%;
    text-align: center;
    padding: 10px; /* Add padding for spacing */
  }
  
  #nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  #nav ul li {
    position: relative;
    margin: 0 50px;
  }
  
  #nav ul li a {
    color: #888;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
    position: relative; /* 추가: 상대 위치 지정 */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  #nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 50%; /* 선을 가운데로 맞추기 위해 왼쪽 위치를 50%로 설정 */
    bottom: -2px; /* 밑줄 위치 조정 */
    width: 50%; /* 선의 넓이를 줄임 */
    height: 5px; /* 밑줄 두께 조정 */
    background-color: #936fb0; /* 원하는 밑줄 색상 */
    transform: translateX(-50%); /* 가운데 정렬을 위해 이동 */
  }
  
  #nav ul li ul {
    background-color: #38356a;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
  }
  
  #nav ul li:hover ul {
    display: block;
  }
  
  #nav ul li ul li {
    width: 100%;
  }
  
  #nav ul li ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  #nav ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .logo-container {
	  margin-top: 20px;
      margin-bottom: 10px;
    }
  
    #right-section {
      margin-top: 10px;
      text-align: center;
    }
  
    #nav-section {
      padding: 15px 0;
      margin-top: 0; /* Adjust margin for smaller screens */
    }
  
    #center-section {
      display: none;
    }
  
    #nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    #nav ul li {
      margin: 5px 0;
    }
  
    #nav ul li ul {
      top: 0;
      left: 100%;
      transform: translateY(-50%);
    }
  
    #nav ul li:hover ul {
      display: none;
    }
  
    #nav ul li ul li {
      width: auto;
    }
  }
  
  #content-section {
    background-color: white;
    transition: background-color 0.5s ease-in-out;
    height: 500px;
    position: relative;
  }
  
  .inner-container {
    padding-top: 4rem;
    padding-left: 10rem;
  }
  
  .card-container {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: left;
    margin-left: 400px;
    /* 조금 더 큰 카드 컨테이너 너비 */
    /* width: 400px;  */
    /* 카드가 펼쳐질 컨테이너 높이 */
    /* height: 300px;  */
    /* 가운데 정렬 */
    /* margin: 0 auto;  */
    /* 컨테이너 위치 조정 */
    /* top: 100px;  */
    /* right: calc(20% - 0px); */
  }
  
  .tarot-card {
    position: absolute;
    width: 130px; /* 더 큰 카드 너비 */
    height: 200px; /* 더 큰 카드 높이 */
    transform-origin: bottom center; /* 회전 기준점 설정 */
    opacity: 0; /* 초기에는 보이지 않음 */
    transition: transform 0.5s ease, opacity 0.5s ease; /* 애니메이션 효과 */
    animation: rotateCards 12s infinite; /* 애니메이션 반복 설정 */
  }
  
  .tarot-card img {
    width: 100%; /* 이미지 너비를 부모 요소에 맞게 설정 */
    height: auto; /* 이미지 높이를 비율에 맞게 설정 */
  }
  
  /* 카드 회전 각도 설정 */
  .tarot-card:nth-child(1) {
    transform: rotate(-75deg) translateY(0);
  }
  .tarot-card:nth-child(2) {
    transform: rotate(-60deg) translateY(0);
  }
  .tarot-card:nth-child(3) {
    transform: rotate(-45deg) translateY(0);
  }
  .tarot-card:nth-child(4) {
    transform: rotate(-30deg) translateY(0);
  }
  .tarot-card:nth-child(5) {
    transform: rotate(-15deg) translateY(0);
  }
  .tarot-card:nth-child(6) {
    transform: rotate(0deg) translateY(0);
  }
  .tarot-card:nth-child(7) {
    transform: rotate(15deg) translateY(0);
  }
  .tarot-card:nth-child(8) {
    transform: rotate(30deg) translateY(0);
  }
  .tarot-card:nth-child(9) {
    transform: rotate(45deg) translateY(0);
  }
  .tarot-card:nth-child(10) {
    transform: rotate(60deg) translateY(0);
  }
  .tarot-card:nth-child(11) {
    transform: rotate(75deg) translateY(0);
  }
  
  .content-text {
    width: 400px; /* 고정된 너비 */
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 70px; /* 고정된 상단 위치 */
    left: 1000px;
    /* 우측에 정렬 (예시로 50px으로 설정) */
    /* right: 50px; */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* margin-right: 400px; */
  }

  .content-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: black; /* 텍스트 색상 */
    margin-bottom: 50px; /* h2 태그 아래 여백 */
    margin-left: 10px;
  }
  
  .content-text p {
    font-size: 17px;
    line-height: 1.5;
    color: black; /* 텍스트 색상 */
    font-weight: bold;
  }

  @media (max-width: 1200px) {
    .card-container {
        left: -550px;
        justify-content: center; /* 카드들을 가운데 정렬 */
    }

    .content-text {
        left: 180px; /* 왼쪽 여백을 줄임 */
        top: 80px; /* 상단 여백을 늘림 */
        width: 80%; /* 너비를 80%로 조정 */
    }

    .content-text > h1 {
      margin-left: 130px;
    }
    
    .content-text > p {
      margin-left: 130px;
    }
}
  
  .banner {
    background-color: #f8f5fd;
    width: 100%;
    height: 100%;
    position: relative; /* 상대 위치 설정 */
  }
  
  .topic-box {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin: 30px; /* 필요에 따라 마진 조정 */
    flex-wrap: wrap;
  }
  
  .topic-box .icon-box {
    width: 150px; /* 아이콘 상자의 너비 */
    height: 200px; /* 아이콘 상자의 높이를 너비와 동일하게 설정하여 정사각형으로 만듭니다. */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    background-color: #fff; /* 배경색 */
    border-radius: 8px; /* 모서리 둥글게 */
    overflow: hidden; /* 내부 내용을 넘치지 않도록 설정 */
    margin-right: 5px; /* 아이콘 상자 사이의 좌우 마진을 조정 */
    display: flex; /* 내부 요소들을 수평으로 정렬하기 위해 flex 사용 */
    flex-direction: column; /* 내부 요소들을 세로 방향으로 정렬 */
    justify-content: center; /* 내부 요소들을 수직 가운데 정렬 */
    align-items: center; /* 내부 요소들을 수평 가운데 정렬 */
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  
  .topic-box .icon-box img {
    width: 100%; /* 이미지의 너비를 아이콘 상자에 맞게 100%로 설정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율을 유지합니다. */
    border-radius: 8px; /* 이미지도 모서리를 둥글게 */
    object-fit: cover; /* 이미지를 아이콘 상자에 맞게 잘라내기(비율 유지) */
  }
   
  @media (max-width: 480px) {
    .topic-box {
      margin-left: 20px; /* 아이콘 상자들의 좌측 마진을 줄입니다. */
      margin-right: 20px; /* 아이콘 상자들의 우측 마진을 줄입니다. */
    }
    .topic-box .icon-box {
      width: calc(
        100% - 40px
      ); /* 아이콘 상자의 너비를 화면 너비에서 좌우 마진을 제외한 크기로 설정합니다. */
      margin-right: 0; /* 아이콘 상자 사이의 좌우 마진을 제거합니다. */
      margin-bottom: 20px; /* 아이콘 상자 사이의 하단 마진을 조정합니다. */
    }
  }

  .collect-button {
    position: absolute;
    top: 520px;
    right: 320px;
    background-color: white;
    color: #6143ad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width : 1200px) {
  .collect-button {
    left: 770px;
    width: 10%;
  }
}

  .middle-text {
    position: relative;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 63%; /* 고정 너비 */
    height: 150px;
    background-color: #6143ad;
    color: white;
    margin-left: 400px;
  }
  
  .middle-text > h2 {
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    padding-top: 50px;
  }
  
  .left-section {
    flex-grow: 1;
    width: 100%;
  }

  .tarotRankingBubbles {
    width: 1000px;
    height: 500px;
    margin-left: 30px;
  }

  /* Hover effect for circles */

  .tarotRankingBubbles .node circle {
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  
  .tarotRankingBubbles .node:hover circle {
    transform: scale(1.1);
  }
  
  @media (max-width: 1200px) {
    .middle-text {
      /* 더 작은 화면에서의 위치 조정 */
      /* margin-top: 1000px;  */
      width: 70%; /* 화면에 맞게 너비 조정 */
      /* 최대 너비 설정 */
      /* max-width: 79%;  */
      /* margin-left: 20px; */
      right: 220px;
    }
  
    .tarotRankingBubbles {
      /* 전체 너비 사용 */
      width: 100%;
      margin-left: 20px;
      /* margin-left: 120px; */
    }
  }
  
  @media (max-width: 768px) {
    .middle-text {
      margin-top: 100px; /* 아주 작은 화면에서의 위치 조정 */
      width: 100%; /* 화면에 꽉 차게 너비 조정 */
      max-width: 100%; /* 최대 너비 설정 */
      left: 0; /* 좌측 정렬로 변경 */
    }
    
    .tarotRankingBubbles {
      width: 100%;
    }
  }


  footer {
    background-color: #7150bd;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    top: 1400px;
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-company {
    margin-bottom: 20px;
  }
  
  .footer-label {
    font-size: 40px;
    font-weight: bold;

  }
  
  .footer-companyinfo {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  .footer-companyinfo p {
    margin: 5px 0;
  }
  
  .copyright {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .footer-user {
    margin-top: 20px;
  }
  
  @media (max-width: 1200px) {
    footer {
      top: 1600px; /* 기존에 설정된 top 속성 제거 */
      bottom: 0; /* 화면 하단에 고정 */
    }
  
    .footer-wrapper {
      padding: 10px; /* 내용을 좀 더 촘촘히 배치하기 위해 패딩 축소 */
    }
    
    .footer-label {
      font-size: 50px; /* 폰트 크기를 더 작게 설정 */
    }
    
    .footer-companyinfo {
      font-size: 12px; /* 폰트 크기를 더 작게 설정 */
    }
    
    .copyright {
      font-size: 10px; /* 폰트 크기를 더 작게 설정 */
    }
  }
  

@keyframes moveRanking1 {
  0% { transform: translate(10px, 10px); }
  50% { transform: translate(10px, -10px); }
  100% { transform: translate(10px, 10px); }
}

@keyframes moveRanking2 {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(0px, -20px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes moveRanking3 {
  0% { transform: translate(-20px, 0px); }
  50% { transform: translate(-20px, -20px); }
  100% { transform: translate(-20px, 0px); }
}

@keyframes moveRanking4 {
  0% { transform: translate(-20px, 0px); }
  50% { transform: translate(-20px, -20px); }
  100% { transform: translate(-20px, 0px); }
}

@keyframes moveRanking5 {
  0% { transform: translate(10px, 0px); }
  50% { transform: translate(10px, -20px); }
  100% { transform: translate(10px, 0px); }
}

.ranking1 { 
  animation: moveRanking1 5s infinite ease-in-out; 
}

.ranking2 { 
  animation: moveRanking2 5s infinite ease-in-out; 
}

.ranking3 { 
  animation: moveRanking3 5s infinite ease-in-out; 
}

.ranking4 { 
  animation: moveRanking4 5s infinite ease-in-out; 
}

.ranking5 { 
  animation: moveRanking5 5s infinite ease-in-out; 
}
